<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
      <h1 class="text-center">Edit Your Profile</h1>
      <p class="text-center">Fill out your profile and become a part of the DevMatch community!</p>
      <div class="well">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>